body {
  background: url("../img/sushigate.png") center no-repeat #0d0e13;
  background-attachment: fixed;
  background-position-y: center;
  overflow: hidden;
}

p {
  color: white;
  text-align: center;
}

a:link, a:visited {
  color: white;
}

.container {
  width: 100%;
  height: 2400px;
  background-color: #0d0e13;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
       opacity:0.8;
}

.roll {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 800px;
}
