body {
  background: url("../img/sushigate.png") center no-repeat #0d0e13;
  background-attachment: fixed;
  background-position-y: center;
  overflow: hidden;
}

p {
  color: white;
  text-align: center;
}

a:link, a:visited {
  color: white;
}

.dish {
  width: 100%;
  height: 2400px;
  background-color: #0d0e13;
  filter:alpha(opacity=80);
  -moz-opacity:0.8;
       opacity:0.8;
}

.roll {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 800px;
}

.user {
  display: inline-block;
  *display: inline;
  *zoom:1;
  min-width: 110px;
  text-align: right;
  margin-right: 10px;
}

.fish {
  display: inline-block;
  *display: inline;
  *zoom:1;
  min-width: 110px;
  text-align: left;
  margin-left: 10px;
}
